
@{
    Layout = null;
}
@model int
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> 编辑配置文件</title>
    <script src="~/jquery-3.3.1.min.js"></script>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <input type="hidden" id="XID" />
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">文件路径:</label>
            <div class="layui-input-block">
                <input type="text" id="FilePath" required lay-verify="required" placeholder="文件路径" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文件名称:</label>
            <div class="layui-input-inline">
                <input type="text" id="FileName" required lay-verify="required" placeholder="文件名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-inline">
                <input type="text" id="Remark" required lay-verify="required" placeholder="备注" autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
    <script>
        var XID =@Model;
        $(document).ready(function () {
            $.ajax({
                url: '/Home/GetXmlListJson?XID=' + XID,
                type: 'get',
                success: function (result) {
                    if (result.code == 1)
                    {
                        $("#XID").val(result.data.xid);
                        $("#FilePath").val(result.data.xmlUrl);
                        $("#FileName").val(result.data.xmlName);
                        $("#Remark").val(result.data.xmlRemark);
                    }
                }
            });
            layui.form.render();
        });
    </script>
</body>
</html>
